// Typogrpahy
$font-family-base: 'Roboto', sans-serif;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
// Colors
$primary-color: #041131;
$secondary-color: #1750FF;
$white: #fff;
$black: #000;
// BreakPoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1024px;
$xxl: 1280px;
$xxxl: 1360px;