@use '../variables';

.tabs {
    overflow: hidden;

    &__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 0.375rem;

        &__item {
            background: transparent;
            border: none;
            font-size: 0.875rem;
            font-weight: $fw-400;
            padding: 0.625rem 0.375rem;
            color: #6C6D71;
            cursor: pointer;
            transition: background 0.3s ease;

            .count {
                background-color: #E8E8FF;
                padding: 0.25rem 0.5rem;
                border-radius: 0.313rem;
                font-size: 0.875rem;
                font-weight: $fw-400;
            }

            &:hover {
                color: $primary-color;
            }

            &.active {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 3.125rem;
                    height: 1px;
                    background-color: #0F255F;

                }

                .count {
                    background-color: #0F255F;
                    color: #fff;
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.313rem;
                }
            }
        }
    }

    &__content {
        padding-top: 1rem;
        padding-bottom: 1rem;

    }
}